<%layout("/layouts/boilerplate")%>
<body>
    <div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Edit Listing</h3>
    <form action="/Listings/<%=listing._id%>?_method=PUT" method="post"
        novalidate class="needs-validation"
        enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title"class="form-label">Title</label> 
            <input type="text" name="listing[title]" id="" value="<%=listing.title%>" class="form-control" required>
        </div>

 <!-- here we're are making all variable as a key of object [listing] so listing object key will be title,description etc.. -->
 
 <div class="mb-3">
    <label for="description"class="form-label">Description</label>
    <textarea type="text" name="listing[description]" id="" value="" class="form-control" required> 
        <%=listing.description%> </textarea>
    <div class="invalid-feedback">Please enter a valid title!</div>
 </div>
 <div class="mb-3">
    <img src="<%= originalImageUrl%>" />
  </div>
 <div class="mb-3">
<label for="image"class="form-label">Upload new image</label>
    <input type="file" name="listing[image]" id=""class="form-control">
 </div>
 <!-- Created common div row for price and locationso they will be set accordingly -->
 <div class="row mt-3">
    <div class="mb-3 col-md-4">
    <label for="price"class="form-label">Price</label>
     <input type="number" name="listing[price]" id="" value="<%=listing.price%>" class="form-control" required>
     <div class="invalid-feedback">Please enter valid price!</div>
    </div>

 <div class="mb-3 col-md-8">
    <label for="loction"class="form-label">Location</label>
    <input type="text" name="listing[location]" id="" value="<%=listing.location%>"class="form-control" required>
    <div class="invalid-feedback">Please enter valid location!</div>
</div>
 </div>
 
 
 <div class="mb-2">
    <label for="country"class="form-label">Country</label>
<input type="text" name="listing[country]" id="" value="<%=listing.country%>" class="form-control" required>
<div class="invalid-feedback">Please enter valid country name!</div>
</div> 
 
 <button class="btn btn-dark edit-btn mb-3 mt-2">Edit</button> 
    </form></div></div>
    
</body>